!.gitignore

# Please keep this for mac users.
.DS_STORE 
.history

*~
/.env*
/node_modules
/docker-compose.override.yml
/env/dist
/docs/compodoc
/var/*
!/var/models
/var/models/*
_optimize
_warmup
.serverless
.webpack
/conf/*
!conf/dist

!.gitkeep

full-backup.sql
shared-functions

.idea
